@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<body>
<div class="index-title">
    <h1>Bienvenidos a OilOps</h1>
    <h2>Una solución creada para TechOil</h2>

    <div class="img-index">
        <img src="images/OilOps.png"/>
        <img src="images/TechOil.png"/>
    </div>
</div>
    <div class="banner">
        <img src="images/front1.png" alt="bg1"/>
    </div>
</body>