@page
@model OilOpsFront.Pages.User

@{
    Layout = null;
    ViewData["Title"] = "Usuarios";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
<div>
    
</div>
</body>
</html>